//Display from
$gridi-components-off-canvas-open-screens-support-generate-from-classes: true !default;
$gridi-components-off-canvas-open-screens-support-from-classes-skip-screens: null !default;
//Display to
$gridi-components-off-canvas-open-screens-support-generate-to-classes: true !default;
$gridi-components-off-canvas-open-screens-support-to-classes-skip-screens: null !default;
//Display only
$gridi-components-off-canvas-open-screens-support-generate-only-classes: true !default;
$gridi-components-off-canvas-open-screens-support-only-classes-skip-screens: null !default;